USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 25/09/02025 9:11:36 AM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'D:\QLDAPM\Library_Manager\CSDL_ThuVien\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'D:\QLDAPM\Library_Manager\CSDL_ThuVien\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[MaCauHinh] [nvarchar](50) NOT NULL,
	[GiaTri] [nvarchar](max) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCauHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietMuonTra]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMuonTra](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaMuonTra] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[SoLuongMuon] [int] NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TinhTrangKhiTra] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[Lop] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[NgayTaoTaiKhoan] [datetime] NOT NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonTra](
	[MaMuonTra] [int] IDENTITY(1,1) NOT NULL,
	[MaTheMuon] [int] NOT NULL,
	[MaThuThu] [int] NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayHenTra] [datetime] NOT NULL,
	[NgayTraThucTe] [datetime] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuonTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiSach]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiSach](
	[MaSach] [int] NOT NULL,
	[MaTheLoai] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](255) NOT NULL,
	[MaTacGia] [int] NULL,
	[MaNXB] [int] NULL,
	[NamXuatBan] [int] NULL,
	[SoLuongTon] [int] NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayCapNhat] [datetime] NULL,
	[SoLanMuon] [int] NOT NULL,
	[AnhBia] [nvarchar](max) NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [int] IDENTITY(1,1) NOT NULL,
	[TenTacGia] [nvarchar](255) NOT NULL,
	[TieuSu] [nvarchar](max) NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](255) NOT NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheMuonSach]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheMuonSach](
	[MaTheMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[NgayKichHoat] [date] NULL,
	[NgayHetHan] [date] NOT NULL,
	[TinhTrangThe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuThu]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuThu](
	[MaThuThu] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[DaXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViPham]    Script Date: 25/09/02025 9:11:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViPham](
	[MaViPham] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[MaMuonTra] [int] NULL,
	[LoaiViPham] [nvarchar](255) NOT NULL,
	[NgayViPham] [datetime] NOT NULL,
	[HinhThucPhat] [int] NULL,
	[TrangThaiXuLy] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__ViPham__F1921D8984F554DE] PRIMARY KEY CLUSTERED 
(
	[MaViPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CauHinh] ([MaCauHinh], [GiaTri], [MoTa]) VALUES (N'DiaChiThuVien', N'Số 24 Nguyễn Du, Phường 7, Tuy Hòa, Phú Yên', N'Địa chỉ thư viện')
INSERT [dbo].[CauHinh] ([MaCauHinh], [GiaTri], [MoTa]) VALUES (N'SoNgayMuonToiDa', N'14', N'Số ngày mượn tối đa cho một cuốn sách')
INSERT [dbo].[CauHinh] ([MaCauHinh], [GiaTri], [MoTa]) VALUES (N'SoSachMuonToiDa', N'5', N'Số lượng sách tối đa một độc giả được mượn cùng lúc')
GO
SET IDENTITY_INSERT [dbo].[ChiTietMuonTra] ON 

INSERT [dbo].[ChiTietMuonTra] ([MaChiTiet], [MaMuonTra], [MaSach], [SoLuongMuon], [GhiChu], [TinhTrangKhiTra]) VALUES (1, 1, 3, 1, NULL, N'Tốt')
INSERT [dbo].[ChiTietMuonTra] ([MaChiTiet], [MaMuonTra], [MaSach], [SoLuongMuon], [GhiChu], [TinhTrangKhiTra]) VALUES (2, 2, 1, 1, NULL, NULL)
INSERT [dbo].[ChiTietMuonTra] ([MaChiTiet], [MaMuonTra], [MaSach], [SoLuongMuon], [GhiChu], [TinhTrangKhiTra]) VALUES (3, 2, 4, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietMuonTra] OFF
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [Lop], [Email], [SoDienThoai], [Username], [PasswordHash], [NgayTaoTaiKhoan], [DaXoa]) VALUES (1, N'Trần Văn An', N'Nam', CAST(N'2002-05-15' AS Date), N'd25ctc1', N'tranvanan.d25ctc1@muce.edu.vn', N'0905111222', N'an', N'chuoi_da_bam_tu_bcrypt', CAST(N'2025-09-14T14:48:46.300' AS DateTime), 0)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [Lop], [Email], [SoDienThoai], [Username], [PasswordHash], [NgayTaoTaiKhoan], [DaXoa]) VALUES (2, N'Nguyễn Thị Bình', N'Nữ', CAST(N'2003-08-20' AS Date), N'd24xd', N'nguyenthibinh.d24xd@muce.edu.vn', N'0913333444', N'binh', N'chuoi_da_bam_tu_bcrypt', CAST(N'2025-09-14T14:48:46.300' AS DateTime), 0)
INSERT [dbo].[DocGia] ([MaDocGia], [HoTen], [GioiTinh], [NgaySinh], [Lop], [Email], [SoDienThoai], [Username], [PasswordHash], [NgayTaoTaiKhoan], [DaXoa]) VALUES (3, N'Lê Minh Cường', N'Nam', CAST(N'2002-11-30' AS Date), N'd23kt', N'leminhcuong.d23kt@muce.edu.vn', N'0987555666', N'cuong', N'chuoi_da_bam_tu_bcrypt', CAST(N'2025-09-14T14:48:46.300' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
SET IDENTITY_INSERT [dbo].[MuonTra] ON 

INSERT [dbo].[MuonTra] ([MaMuonTra], [MaTheMuon], [MaThuThu], [NgayMuon], [NgayHenTra], [NgayTraThucTe], [TrangThai], [DaXoa]) VALUES (1, 1, 2, CAST(N'2025-03-01T00:00:00.000' AS DateTime), CAST(N'2025-03-15T00:00:00.000' AS DateTime), CAST(N'2025-03-14T00:00:00.000' AS DateTime), N'Đã trả', 0)
INSERT [dbo].[MuonTra] ([MaMuonTra], [MaTheMuon], [MaThuThu], [NgayMuon], [NgayHenTra], [NgayTraThucTe], [TrangThai], [DaXoa]) VALUES (2, 2, 2, CAST(N'2025-08-20T00:00:00.000' AS DateTime), CAST(N'2025-09-04T00:00:00.000' AS DateTime), NULL, N'Đang mượn', 0)
INSERT [dbo].[MuonTra] ([MaMuonTra], [MaTheMuon], [MaThuThu], [NgayMuon], [NgayHenTra], [NgayTraThucTe], [TrangThai], [DaXoa]) VALUES (3, 1, 1, CAST(N'2025-08-10T00:00:00.000' AS DateTime), CAST(N'2025-09-13T00:00:00.000' AS DateTime), NULL, N'Quá hạn', 0)
SET IDENTITY_INSERT [dbo].[MuonTra] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email], [DaXoa]) VALUES (1, N'Nhà xuất bản Trẻ', N'161B Lý Chính Thắng, Phường 7, Quận 3, TPHCM', N'02839316289', N'hopthu@nxbtre.com.vn', 0)
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email], [DaXoa]) VALUES (2, N'Nhà xuất bản Kim Đồng', N'55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội', N'02439434490', N'info@nxbkimdong.com.vn', 0)
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SoDienThoai], [Email], [DaXoa]) VALUES (3, N'Nhà xuất bản Giáo Dục', N'81 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội', N'02438220801', N'nxbgd@vnpt.vn', 0)
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
INSERT [dbo].[PhanLoaiSach] ([MaSach], [MaTheLoai], [GhiChu]) VALUES (1, 1, NULL)
INSERT [dbo].[PhanLoaiSach] ([MaSach], [MaTheLoai], [GhiChu]) VALUES (2, 5, NULL)
INSERT [dbo].[PhanLoaiSach] ([MaSach], [MaTheLoai], [GhiChu]) VALUES (3, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaNXB], [NamXuatBan], [SoLuongTon], [MoTa], [NgayCapNhat], [SoLanMuon], [AnhBia], [DaXoa]) VALUES (1, N'ab', 1, 1, 2018, 0, N'lap trinh', CAST(N'2025-09-14T14:48:46.333' AS DateTime), 0, NULL, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaNXB], [NamXuatBan], [SoLuongTon], [MoTa], [NgayCapNhat], [SoLanMuon], [AnhBia], [DaXoa]) VALUES (2, N'Cho tôi xin một vé đi tuổi thơ', 2, 1, 2008, 15, N'Câu chuyện hấp dẫn về tuổi thơ của 4 đứa trẻ ở một vùng quê Việt Nam.', CAST(N'2025-09-14T14:48:46.333' AS DateTime), 0, NULL, 0)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaTacGia], [MaNXB], [NamXuatBan], [SoLuongTon], [MoTa], [NgayCapNhat], [SoLanMuon], [AnhBia], [DaXoa]) VALUES (3, N'Đắc nhân tâm', 3, 4, 2016, 20, N'Cuốn sách kinh điển về nghệ thuật giao tiếp và đối nhân xử thế.', CAST(N'2025-09-14T14:48:46.333' AS DateTime), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [TieuSu], [DaXoa]) VALUES (1, N'Robert C. Martin', N'Còn được biết đến với tên gọi "Uncle Bob", là một kỹ sư phần mềm và tác giả nổi tiếng người Mỹ.', 0)
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [TieuSu], [DaXoa]) VALUES (2, N'Nguyễn Nhật Ánh', N'Một trong những nhà văn thành công nhất Việt Nam, chuyên viết về đề tài tuổi mới lớn.', 0)
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [TieuSu], [DaXoa]) VALUES (3, N'Dale Carnegie', N'Nhà văn và nhà thuyết trình người Mỹ, người phát triển các khóa học nổi tiếng về tự cải thiện, bán hàng, và nói trước công chúng.', 0)
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [NgonNgu], [DaXoa]) VALUES (1, N'Sách Lập trình', N'Tiếng Việt', 0)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [NgonNgu], [DaXoa]) VALUES (2, N'Văn học Nước ngoài', N'Tiếng Việt', 0)
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [NgonNgu], [DaXoa]) VALUES (3, N'Kỹ năng sống', N'Tiếng Việt', 0)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[TheMuonSach] ON 

INSERT [dbo].[TheMuonSach] ([MaTheMuon], [MaDocGia], [NgayDangKy], [NgayKichHoat], [NgayHetHan], [TinhTrangThe]) VALUES (1, 1, CAST(N'2022-09-01' AS Date), NULL, CAST(N'2026-09-01' AS Date), N'Hoạt động')
INSERT [dbo].[TheMuonSach] ([MaTheMuon], [MaDocGia], [NgayDangKy], [NgayKichHoat], [NgayHetHan], [TinhTrangThe]) VALUES (2, 2, CAST(N'2023-01-10' AS Date), NULL, CAST(N'2027-01-10' AS Date), N'Hoạt động')
INSERT [dbo].[TheMuonSach] ([MaTheMuon], [MaDocGia], [NgayDangKy], [NgayKichHoat], [NgayHetHan], [TinhTrangThe]) VALUES (3, 3, CAST(N'2022-10-05' AS Date), NULL, CAST(N'2023-10-05' AS Date), N'Đã hết hạn')
SET IDENTITY_INSERT [dbo].[TheMuonSach] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuThu] ON 

INSERT [dbo].[ThuThu] ([MaThuThu], [HoTen], [Email], [SoDienThoai], [Username], [PasswordHash], [IsAdmin], [DaXoa]) VALUES (1, N'Nguyễn Hữu Van', N'nguyenhuuvan.d22ctc1@muce.edu.vn', N'0123456789', N'admin', N'123456', 1, 0)
INSERT [dbo].[ThuThu] ([MaThuThu], [HoTen], [Email], [SoDienThoai], [Username], [PasswordHash], [IsAdmin], [DaXoa]) VALUES (2, N'Lê Thị Nhân Viên', N'nhanvien@thuvien.edu.vn', N'0987654321', N'nhanvien', N'123456', 0, 0)
SET IDENTITY_INSERT [dbo].[ThuThu] OFF
GO
SET IDENTITY_INSERT [dbo].[ViPham] ON 

INSERT [dbo].[ViPham] ([MaViPham], [MaDocGia], [MaMuonTra], [LoaiViPham], [NgayViPham], [HinhThucPhat], [TrangThaiXuLy]) VALUES (1, 1, 3, N'Trả sách muộn', CAST(N'2024-04-25T00:00:00.000' AS DateTime), 10000, N'Chưa xử lý')
SET IDENTITY_INSERT [dbo].[ViPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DocGia__0389B7BD3C5F195A]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[DocGia] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DocGia__536C85E442CF11D0]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[DocGia] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DocGia__A9D1053460015FDB]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[DocGia] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TheMuonS__F165F944A4E90619]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[TheMuonSach] ADD UNIQUE NONCLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuThu__536C85E4CF296E44]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[ThuThu] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuThu__A9D10534C20D5818]    Script Date: 25/09/02025 9:11:36 AM ******/
ALTER TABLE [dbo].[ThuThu] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietMuonTra] ADD  DEFAULT ((1)) FOR [SoLuongMuon]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (getdate()) FOR [NgayTaoTaiKhoan]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[NhaXuatBan] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [SoLanMuon]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[TacGia] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[TheLoai] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[TheMuonSach] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[ThuThu] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[ThuThu] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[ViPham] ADD  CONSTRAINT [DF__ViPham__NgayViPh__6754599E]  DEFAULT (getdate()) FOR [NgayViPham]
GO
ALTER TABLE [dbo].[ViPham] ADD  CONSTRAINT [DF__ViPham__TrangTha__68487DD7]  DEFAULT (N'Chưa xử lý') FOR [TrangThaiXuLy]
GO
ALTER TABLE [dbo].[ChiTietMuonTra]  WITH CHECK ADD FOREIGN KEY([MaMuonTra])
REFERENCES [dbo].[MuonTra] ([MaMuonTra])
GO
ALTER TABLE [dbo].[ChiTietMuonTra]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaTheMuon])
REFERENCES [dbo].[TheMuonSach] ([MaTheMuon])
GO
ALTER TABLE [dbo].[MuonTra]  WITH CHECK ADD FOREIGN KEY([MaThuThu])
REFERENCES [dbo].[ThuThu] ([MaThuThu])
GO
ALTER TABLE [dbo].[PhanLoaiSach]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhanLoaiSach]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[TheMuonSach]  WITH CHECK ADD FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[ViPham]  WITH CHECK ADD  CONSTRAINT [FK__ViPham__MaDocGia__693CA210] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[ViPham] CHECK CONSTRAINT [FK__ViPham__MaDocGia__693CA210]
GO
ALTER TABLE [dbo].[ViPham]  WITH CHECK ADD  CONSTRAINT [FK__ViPham__MaMuonTr__6A30C649] FOREIGN KEY([MaMuonTra])
REFERENCES [dbo].[MuonTra] ([MaMuonTra])
GO
ALTER TABLE [dbo].[ViPham] CHECK CONSTRAINT [FK__ViPham__MaMuonTr__6A30C649]
GO
USE [master]
GO
