<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Quản trị - Thư viện</title>
    <!-- DÙNG CHUNG FILE CSS VỚI TRANG CHỦ -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    @RenderBody()
    <!-- DÙNG CHUNG FILE JS VỚI TRANG CHỦ -->
    <script src="~/Scripts/script.js"></script>
    <!-- Nạp thư viện Chart.js để vẽ biểu đồ -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>